<!DOCTYPE html>
<html lang="en">
<head>
    <title>TABLE2</title>
</head>
<body>
    <table border="1" width="50%" align="center">
        <tr>
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Product Quality</th>
            <th>Product Quality</th>
        </tr>
        <tr>
            <td align="center">1</td>
            <td align="center">Wheat</td>
            <td align="center">Good</td>
            <td align="center">200 Bags</td>
        </tr>
        <tr>
            <td align="center">2</td>
            <td align="center">Rice</td>
            <td align="center">Good</td>
            <td align="center">250 Bags</td>
        </tr>
        <tr>
            <td align="center">3</td>
            <td align="center">Sugar</td>
            <td align="center">Good</td>
            <td align="center">200 Bags</td>
        </tr>
    </table>

    <center>
        <a href="{% url 'app1:gettable1' %}">Go to table 1</a>
    </center>


</body>
</html>