<!DOCTYPE html>
<html lang="en">
<head>
    <title>Table 1</title>
</head>
<body>
    <table border="1" width="50%" cellspace="10" cellpading="100%" align="center"> 
        <tr>
        <th>CSS Property</th>
        <th>Internet Explorer</th>
        <th>FireFox</th>
        <th>Chrome</th>
        <th>Safari</th>
        <th>Opera</th>
        </tr>
        <tr>
            <th>Border Radius</th>
            <td align="center">YES</td>
            <td align="center">YES</td>
            <td align="center">YES</td>
            <td align="center">YES</td>
            <td align="center">YES</td>
        </tr>
        <tr>
            <th>Box Sahdow</th>
            <td align="center">YES</td>
            <td align="center">YES</td>
            <td align="center">YES</td>
            <td align="center">YES</td>
            <td align="center">YES</td>
        </tr>
        <tr>
            <th>CSS Animations</th>
            <td align="center">NO</td>
            <td align="center">YES</td>
            <td align="center">YES</td>
            <td align="center">YES</td>
            <td align="center">NO</td>
        </tr>
    </table>

    <center>
        <a href="{% url 'app2:gettable2' %}">Go to table 2</a>
    </center>
    
</body>
</html>